header {
  text-align: center;
  background: url('../img/beach.JPG') center;
  background-size: 100%;
  overflow: hidden;
  padding-top: 60px;
  height: 470px;
}

header .profile-image {
  margin: left -70px;
  width: auto;
  height: 300px;
  border: 0px;
}

.title {
  padding-bottom: 20px;
}

body {
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  background: #ffeee6;
}

.row {
  padding: 5em;
  margin: auto;
  width: 75%;
}

.csm {
  font-weight: bold;
}

.card {
  width: 45%;
  float: left;
  padding: 35px;
}

#column-right {
  margin-left: 10%;
}
